MicroServicios/TourismServicesService/src/main/resources/tourismServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://services/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/xsd" targetNamespace="http://services/xsd">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services/xsd" version="1.0">

    <xs:element name="tourismServiceSOAP" type="tns:tourismServiceSOAP"/>

    <xs:complexType name="tourismServiceSOAP">
        <xs:sequence>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element minOccurs="0" name="title" type="xs:string"/>
            <xs:element minOccurs="0" name="serviceType" type="xs:string"/>
            <xs:element minOccurs="0" name="providerId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getSearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="tns:tourismServiceSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSearchRequest">
    <wsdl:part element="tns:getSearchRequest" name="getSearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSearchResponse">
    <wsdl:part element="tns:getSearchResponse" name="getSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="tourismServicesPort">
    <wsdl:operation name="getSearch">
      <wsdl:input message="tns:getSearchRequest" name="getSearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSearchResponse" name="getSearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tourismServicesPortSoap11" type="tns:tourismServicesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSearch">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tourismServicesPortService">
    <wsdl:port binding="tns:tourismServicesPortSoap11" name="tourismServicesPortSoap11">
      <soap:address location="http://localhost:2220/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>