SearchService/src/main/resources/TourismService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<xs:schema xmlns:tns="http://services/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/xsd">

    <xs:element name="tourismServiceSOAP" type="tns:tourismServiceSOAP" />

    <xs:complexType name="tourismServiceSOAP">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" minOccurs="0" />
            <xs:element name="price" type="xs:double" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="serviceType" type="xs:string" minOccurs="0" />
            <xs:element name="providerId" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getSearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="service" type="tns:tourismServiceSOAP" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>