SearchService/src/main/resources/TourismService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<xs:schema xmlns:tns="http://services/xsd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/xsd/">


    <xs:element name="accomodationService" type="tns:accomodationService" />
    <xs:element name="tourismServiceSOAP" type="tns:tourismServiceSOAP" />
    <xs:element name="transportService" type="tns:transportService" />
    <xs:element name="ecoTripService" type="tns:ecoTripService" />
    <xs:element name="foodService" type="tns:foodService" />

    <xs:complexType name="tourismServiceSOAP">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" minOccurs="0" />
            <xs:element name="price" type="xs:double" />
            <xs:element name="title" type="xs:string" minOccurs="0" />
            <xs:element name="serviceType" type="xs:string" minOccurs="0" />
            <xs:element name="providerId" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="accomodationService">
        <xs:complexContent>
            <xs:extension base="tns:tourismServiceSOAP">
                <xs:sequence>
                    <xs:element name="checkInDate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="location" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ecoTripService">
        <xs:complexContent>
            <xs:extension base="tns:tourismServiceSOAP">
                <xs:sequence>
                    <xs:element name="duration" type="xs:int" />
                    <xs:element name="hasGuide" type="xs:boolean" />
                    <xs:element name="location" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="foodService">
        <xs:complexContent>
            <xs:extension base="tns:tourismServiceSOAP">
                <xs:sequence>
                    <xs:element name="type" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="transportService">
        <xs:complexContent>
            <xs:extension base="tns:tourismServiceSOAP">
                <xs:sequence>
                    <xs:element name="arrivalDate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="departureDate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="depature" type="xs:string" minOccurs="0" />
                    <xs:element name="destination" type="xs:string" minOccurs="0" />
                    <xs:element name="transportType" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="getSearchReponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="service" type="tns:tourismServiceSOAP" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>